<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/lightglance/image/upload/v1569331354/rbike-logo_ypxp6n.png" %>
  <h2>RBIKES</h2>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to "Home", root_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Bikes", bikes_path, class: "nav-link" %>
      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
        <% if current_user.profile_picture %>
        <%= cl_image_tag current_user.profile_picture, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
        <%= cl_image_tag current_user.profile_picture %>
        <%end %>
        <%else %>
        <%= link_to "Sign in", new_user_session_path %>
        <% end %>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
          <%= link_to "Show Profile", user_path(current_user), class: "dropdown-item" %>
          <%= link_to "Sign out", destroy_user_session_path(current_user), method: "delete", class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
