<div class="row m-0">
    <div class="col-12 offset-0 col-lg-8 offset-lg-1 col-xl-6 offset-xl-2">
        <div class="tab">
            <button class="tablinks active-tab" id="bikesTab">My Bikes</button>
            <button class="tablinks" id="bookingsTab">My Bookings</button>
        </div>
        <div id="bikes" class="tabcontent active">
            <% current_user.bikes.each do |bike| %>
            <%= link_to bike_path(bike), class: "card-product card-product-index margin-top-15" do %>
            <%= cl_image_tag bike.photo %>
            <div class="card-product-infos">
                <h2><%= bike.brand %> - <%= bike.model %></h2>
                <p><%= bike.description.length > 170 ? bike.description[0, 170].concat('...') : bike.description %></p>
                <p class="product-card-pricing"><%= bike.price %> NOK a day</p>
            </div>
            <% end %>
            <% bike.bookings.each do |booking| %>
            <div class="card-booking margin-top-5">
                <p><%= booking.user.first_name %> wants to rent this bike from <strong><%= booking.start_date.strftime('%-d %b') %></strong> to <strong><%= booking.end_date.strftime('%-d %b') %></strong></p>
                <% if booking.confirmed_at %>
                <h5>Confirmed</h5>
                <% else %>
                <%= link_to "Confirm", bike_booking_path(bike, booking), method: "patch", class: "btn-flat" %>
                <% end %>
            </div>
            <% end %>
            <% end %>
        </div>
        <div id="bookings" class="tabcontent">
            <% current_user.bikes.each do |bike| %>
            <% bike.bookings.each do |booking| %>
            <div class="card-booking margin-top-5">
                <p><%= booking.user.first_name %> wants to rent <strong> <%= booking.bike.brand %> - <%= booking.bike.model %> </strong> from <strong><%= booking.start_date.strftime('%-d %b') %></strong> to <strong><%= booking.end_date.strftime('%-d %b') %></strong></p>
                <% if booking.confirmed_at %>
                <h5>Confirmed</h5>
                <% else %>
                <%= link_to "Confirm", bike_booking_path(bike, booking), method: "patch", class: "btn-flat" %>
                <% end %>
            </div>
            <% end %>
            <% end %>
    </div>
</div>
    <div class="card-profile margin-top-15 col-12 col-lg-2 col-xl-2 px-0 align-self-start">
        <%= cl_image_tag current_user.profile_picture %>
        <div class="card-profile-infos m-3">
            <h3><%= current_user.first_name.capitalize %> <%= current_user.last_name.capitalize %></h3>
        </div>
    </div>
</div>

