<div class="row align-items-center m-5">
  <div>
    <h1 class="offset-3 col-6 text-white mt-5">RBIKES. For Bikers By Bikers.</h1>
    <p class="description offset-6 col-3 text-white mt-5"> Rbikes enables you to rent or rent out your bike. Want to rent out your bike? That never was easier! Want to go for a ride? Check out the bikes for rent!</p>
  </div>
  <%= link_to "Check out available bikes", bikes_path, class: "btn btn-flat offset-6 col-3 text-white mt-5" %>
</div>

<div class= "search-text offset-2 col-4">
  <h2> Search for bikes </h2>
</div>

<div class="calendar">

  <%= form_with(url: bikes_path, method: "get") do %>
    <div class= "calendar-label">

    <%= text_field_tag :start_date, "Start date" %>
    <div class= "calendar-label">

    </div>
    <%= text_field_tag :end_date, "End date" %>
    <div class="submit">
      <%= submit_tag "Search", class: "btn btn-primary offset-0 col-2 text-white mt-5"%>
    </div>
    <% end %>
  </div>
</div>
