<div class="row">
<div class="banner-home col-12">
<div class="row col-12 offset-0 col-lg-8 offset-lg-4 col-xl-6 offset-xl-2 my-4">
  <div>
    <h1 class="my-5">RBIKES. By Bikers. For Bikers.</h1>
  </div>
  <%= link_to "Explore bikes", bikes_path, class: "btn btn-home col-4 my-5 mr-5" %>
  <%= link_to "Rent out my bike", bikes_path, class: "btn btn-home col-4 m-5" %>
  </div>
</div>
<div class= "search-text col-12 offset-0 col-lg-8 offset-lg-1 col-xl-6 offset-xl-2 mt-5">
  <h2>Explore by date</h2>

  <%= form_with(url: bikes_path, method: "get") do %>
    <div class="d-flex justify-content-between mt-3">
    <div class="start-date">

      <h4>Start date</h4>
    <%= text_field_tag :start_date, "Start date", class: "d-none" %>
    </div>

    <div class= "end-date">
      <h4>End date</h4>

    <%= text_field_tag :end_date, "End date", class: "d-none" %>

    </div>


  </div>
    <div class="d-flex justify-content-end">

      <%= submit_tag "Search", class: "btn btn-primary px-5 py-2 text-white mt-5"%>
    </div>
    <% end %>
  </div>
</div>
