<div class="row">
<div class="banner-home col-12">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon nav-home">
  <%= link_to root_path, class: "navbar-brand" do %>
  <%= image_tag "https://res.cloudinary.com/lightglance/image/upload/v1569593403/rbike-logo-white_m1iryc.png" %>
  <h2>RBIKES</h2>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to "All Bikes", bikes_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <%= link_to "Add Bike", new_bike_path, class: "nav-link" %>
      </li>
      <li class="nav-item">
        <% unless user_signed_in? %>
        <%= link_to "Sign in", new_user_session_path, class: "nav-link" %>
        <% end %>
      </li>
      <li class="nav-item dropdown">
        <% if user_signed_in? %>
        <% if current_user.profile_picture.present? %>
          <%= cl_image_tag current_user.profile_picture, class: "avatar-bordered-nav dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <% else %>
          <%= cl_image_tag "Wheel_lpod4k.png", class: "avatar-bordered-nav dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
        <%end %>
        <% end %>

        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <% if user_signed_in? %>
          <%= link_to "Show Profile", profile_path, class: "dropdown-item" %>
          <%= link_to "Sign out", destroy_user_session_path(current_user), method: "delete", class: "dropdown-item" %>
          <% end %>
        </div>
      </li>
    </ul>
  </div>
</div>
<div class="row col-12 offset-0 col-lg-8 offset-lg-4 col-xl-6 offset-xl-2 my-4">
  <div class="col-12">
    <h1 class="my-5">By Bikers. For Bikers.</h1>
  </div>
  <%= link_to "Explore bikes", bikes_path, class: "btn btn-home col-4 my-5 mr-5" %>
  <%= link_to "Rent out my bike", new_bike_path, class: "btn btn-home col-4 m-5" %>
  </div>
</div>
<div class= "search-text col-12 offset-0 col-lg-8 offset-lg-1 col-xl-6 offset-xl-2 mt-5">
  <h2>Explore by date</h2>

  <%= form_with(url: bikes_path, method: "get", local: true) do %>
    <div class="d-flex justify-content-between mt-3">
    <div class="start-date">

      <h4>Start date</h4>
    <%= text_field_tag :start_date, "Start date", class: "d-none" %>
    </div>

    <div class= "end-date">
      <h4>End date</h4>

    <%= text_field_tag :end_date, "End date", class: "d-none" %>

    </div>


  </div>
    <div class="d-flex justify-content-end">

      <%= submit_tag "Search", class: "btn-search px-5 py-2 mt-5"%>
    </div>
    <% end %>
  </div>
</div>
