
<div class="container">
<% @bikes.each do |bike| %>
<div class="card-product">
  <img src="<%= bike.photo %>" alt="">
  <div class="card-product-infos">
    <h2><%= bike.brand %> - <%= bike.model %></h2>
    <p><%= bike.description %></p>
  <!--   <p><%= bike.photo %></p> -->
  </div>
</div>
<% end %>
</div>
