
<div class="container">
  <% @bikes.each do |bike| %>
    <%= link_to bike_path(bike) do %>
      <div class="card-product card-product-index margin-top-15">
        <%= cl_image_tag bike.photo %>
        <div class="card-product-infos">
          <h2><%= link_to "#{bike.brand} – #{bike.model}", bike_path(bike), class: "a-primary" %></h2>
          <p><%= bike.description %></p>
          <p class="product-card-pricing"><%= bike.price %> NOK a day</p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>

