<div class="container">
  <div class="card-trip-container mt-5 mb-5 ">
    <div class="card-trip-image">
      <%= cl_image_tag @bike.photo %>
    </div>
    <div class="card-trip-down">
      <div class="card-down-header">
        <h3><%= @bike.brand %> - <%= @bike.model %></h3>
        <div class="profile-and-name">
          <h5 class="mr-3"><%= @bike.user.first_name %></h5>
          <img src="<%= @bike.user.profile_picture %>" class=" avatar-bordered avatar-position" />
        </div>
      </div>
      <div class="card-groups">
        <div class="card-trip-left pr-5">
          <p><%= @bike.description %></p>
        </div>
        <div class="card-trip-right">
          <p>Price: <%= @bike.price %> NOK a day</p>
          <p>Bike type: <%= @bike.bike_type %></p>
          <p>Production year: <%= @bike.production_year %></p>
          <p>Location: <%= @bike.location %></p>
          <div class="card-trip-left-book">
            <%= link_to "Book now", new_bike_booking_path(@bike), class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- <div class="bicycle-show">
  <div class="bicycle-show-image">

  </div>
  <div class="bicycle-show-content">
    <h1>Title</h1>
    <h2>Category</h2>
    <p>Description</p>
    <p><strong>Mileage</strong>40,0000</p>
    <p><strong>Group Set</strong>2,0000</p>
    <div class="bicycle-show-content-datepicker">
      <div class="from-date">
        <label for=""></label>
        <input type="text">
      </div>
      <div class="to-date">
        <label for=""></label>
        <input type="text">
      </div>
    </div>
    <a href="/bookings">Book Bicycle</a>
  </div>
</div>

-->

