<div class="row">
<div class="col-12 offset-0 col-lg-8 offset-lg-1 col-xl-6 offset-xl-2">
  <div class="card-trip-container mt-5 mb-5 ">
    <div class="card-trip-image">
      <%= cl_image_tag @bike.photo %>
    </div>
    <div class="card-trip-down">
      <div class="card-down-header">
        <h3><%= @bike.brand %> - <%= @bike.model %></h3>
        <div class="profile-and-name">
          <h5 class="mr-3"><%= @bike.user.first_name %></h5>
          <img src="<%= @bike.user.profile_picture %>" class=" avatar-bordered avatar-position" />
        </div>
      </div>
      <div class="card-groups">
        <div class="card-trip-left pr-5">
          <p><%= @bike.description %></p>
        </div>
        <div class="card-trip-right">
          <p>Price: <%= @bike.price %> NOK a day</p>
          <p>Bike type: <%= @bike.bike_type %></p>
          <p>Production year: <%= @bike.production_year %></p>
          <p>Location: <%= @bike.location %></p>
          <div class="card-trip-left-book">
            <%#= link_to "Book now", new_bike_booking_path(@bike), class: "btn btn-flat" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="card-profile margin-top-15 col-12 col-lg-2 col-xl-3 px-0 align-self-start p-2 mt-5">
   <h5>Book this bike</h5>
   <%= simple_form_for [@bike, @booking] do |b| %>
      <%= b.input :start_date, as: "string", :input_html => { :class => 'd-none' } %>
    <%= b.button :submit, class: 'btn btn-home' %>
    <% end %>
</div>
</div>

